<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mis Libros</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
<header>
  <span><strong>Mis Libros</strong></span>
</header>
<div class="content">
  <div class="section">
    <span><strong>Leyendo actualmente (2)</strong></span>
    <div class="items">
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book0.png" alt="Pro React">
        </div>
        <div class="desc">
          <span>Pro React</span>
          <span>Cassio de Sousa Antonio</span>
        </div>
      </div>
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book1.jpeg" alt="Pro React">
        </div>
        <div class="desc">
          <span>Artificial Intelligence: A Modern Approach</span>
          <span>Peter Norvig and Stuart J. Rusell</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <span><strong>Quisiera leerlo (5)</strong></span>
    <div class="items">
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book2.jpeg" alt="Pro React">
        </div>
        <div class="desc">
          <span>Code Complete</span>
          <span>Steve McConell</span>
        </div>
      </div>
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book3.jpeg" alt="Pro React">
        </div>
        <div class="desc">
          <span>Introduction to Algorithms</span>
          <span>Charles E. Leiserson, Clifford Stein, Ronald Rivest, and Thomas H. Cormen</span>
        </div>
      </div>
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book4.jpeg" alt="Pro React">
        </div>
        <div class="desc">
          <span>The Pragmatic Programmer</span>
          <span>Andy Hunt and Dave Thomas</span>
        </div>
      </div>
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book0.png" alt="Pro React">
        </div>
        <div class="desc">
          <span>Pro React</span>
          <span>Cassio de Sousa Antonio</span>
        </div>
      </div>
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book1.jpeg" alt="Pro React">
        </div>
        <div class="desc">
          <span>Artificial Intelligence: A Modern Approach</span>
          <span>Peter Norvig and Stuart J. Rusell</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <span><strong>Leído (4)</strong></span>
    <div class="items">
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book2.jpeg" alt="Pro React">
        </div>
        <div class="desc">
          <span>Code Complete</span>
          <span>Steve McConell</span>
        </div>
      </div>
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book3.jpeg" alt="Pro React">
        </div>
        <div class="desc">
          <span>Introduction to Algorithms</span>
          <span>Charles E. Leiserson, Clifford Stein, Ronald Rivest, and Thomas H. Cormen</span>
        </div>
      </div>
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book4.jpeg" alt="Pro React">
        </div>
        <div class="desc">
          <span>The Pragmatic Programmer</span>
          <span>Andy Hunt and Dave Thomas</span>
        </div>
      </div>
      <div class="item">
        <a class="button">▼</a>
        <div class="popup">
          <ul>
            <li class="disabled">Mover a...</li>
            <li><a href="#">Leyendo actualmente</a><span class="check">✓</span></li>
            <li><a href="#">Quisiera leerlo</a><span class="check">✓</span></li>
            <li><a href="#">Leído</a><span class="check">✓</span></li>
            <li><a href="#">Ninguno</a><span class="check">✓</span></li>
          </ul>
        </div>
        <div class="cover-image">
          <img src="img/book0.png" alt="Pro React">
        </div>
        <div class="desc">
          <span>Pro React</span>
          <span>Cassio de Sousa Antonio</span>
        </div>
      </div>
    </div>
  </div>
  <a class="add-button"><strong>+</strong></a>
</div>
</body>
</html>