.p-cabecera{
  //order: 1;
  height: 15vh;
  color: #ffffff;
  font-size: 8vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 0;
}
.title-configuration{
  margin-bottom: 10vh;
}