/* *************************** */
/*         PIN PASSwORD        */
/* *************************** */
.p-pin{
  order: 2;
  height: 10vh;
  border: 0;
  .pin{
    background-color: $text-bg-color-secondary;
    color: $text-color-secondary;
    height: 100%;
    max-height: 80px;
    width: 45vw;
    border-radius: 10px;
    border: 0;
    font-size: 9vh;
    text-align: center;
    outline: none;
  }
}
