
/********************************/
/********** COLORS **************/
/********************************/

$text-color: #000;
$text-color-light: #fff;
$text-bg-color-light: #fff;

$text-color-secondary: #343434;
$text-bg-color-secondary: #e2e2e2;

$btn-bg-cancel: #ef443d;
$btn-bg-print: #00ca78;
$btn-height: 95px;