@media print {
  body{background: none transparent !important; border: 1px solid black;}
  *{font-size: 12px;
    color: #000000;}
  .no-print{display: none !important;}
  .display-print{display: inherit !important;}

  .title-menu{font-size: 16px !important; font-weight: 800; padding: 0 0 20px !important;}
  .box-report{
    width: 100% !important;
    margin: 0;
    .box-report-inner{
      padding: 15px !important;
    }
    .info-report{
      .info{
        font-weight: 800;
      }
      .label{
        min-width: 110px !important;
      }
    }
  }
}