/* *************************** */
/*   BOX-REPORT, INFO-REPORT    */
/* *************************** */

.box-report{
  width: $width-box;
  margin: 0 auto;
  background-color: rgba($text-bg-color-light, 0.8);
  color: $text-color-secondary;
  font-size: 28px;
  text-align: center;
  .box-report-inner{
    padding: 60px 50px 50px;

  }
}

.info-report{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  & > div{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }
  .label{
    font-family: $font_light;
    text-align: left;
    min-width: 150px;
  }
  .info{
    font-family: $font_base;
    text-align: left;
  }
}

//Area de los bortones
.flex-horizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 95px;
  //margin-top: 20px;
}
.btn{
  border:0;
  color: $text-color-light;
  flex: 1 1 auto;
  height: 100%;
  font-family: $font_light;
  font-size: 24px;
}


